.starting {
  margin: 3rem auto;
  text-align: center;
}

.starting h1 {
  font-size: 5rem;
}

.starting h1:hover {
  color: gold;
  cursor: default;
}

.starting img {
  box-shadow: 0px 0px 8px gold;
  width: 500px;
  height: 700px;
  border-radius: 8px;
  padding: 5px;
  margin: 10px;
}

.starting img:hover {
  box-shadow: 0px 0px 8px fuchsia;
  cursor: pointer;
  transform: scale(1.05);
  margin: 14px;
}
